body {
  font-family: 'Share Tech', sans-serif;
  font-size:12px;
  width: 940px;
  margin: 5% auto;
  min-height: 100%;
  background-image: url(../images/adventure.jpg);
}

ul {
  padding-left: 0;
  margin:0;
}
li {
  padding: 5px 0;
  animation: fadein 5s;
  list-style-type: none;
}
li::before {
  content: "• ";
  color: #EC6778;
}

.col-40 h1 {
  font-size: 1.5rem;
  color: #E84A5F;
}

.col-40 #instrucciones {
  font-size: 1rem;
  color: #E84A5F;
}

.col-40, .col-60 {
  display: table-cell;
  margin: 0;
  vertical-align: top;
}
.col-40 {
  background: #f0efea;
  padding: 30px;
  color: #000;
}

.col-60 {
  background: #E84A5F;

}

#flecha{
  font-size: 60px;
}

.texto-centrado {
  text-align: center;
}
#imagenFinal{
  width:80%;
}

#juego div {
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  text-align: center;
  animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

  .button {
  display: flex;
  justify-content: center;
  backface-visibility: hidden;
  width:25%;
  margin-left:15%;
  margin-top:1em;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  background: linear-gradient(180deg,#f9f9f9 0%,#e0e0e0 100%);
  border-radius: 100px;
  border: 0.5px solid rgba(0,0,0,0.2);
  border-width: 0.5px 0.5px 0.5px 0.5px;
  padding: 4px 22px 5px 22px;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.6),0px 0px 5px rgba(255,255,255,1),0px 1px 0px 3px rgba(0,0,0,0.2),inset 0px 1px 0px rgba(255,255,255,1);
    color: #273;
  font-size: 16px;
  font-family: Helvetica Neue;
  font-weight: 900;
  font-style: normal
  }
  .button > div {
  display: flex;
  justify-content: space-around;
  width:50%;
  color:#E84A5F;
  font-size: 10px;
  font-family: Helvetica Neue;
  font-weight: initial;
  font-style: normal;
  text-align: center;
  margin: 0px 0px 0px 0px
  }
  .button > i {
  display: flex;
  justify-content: center;
  font-size: 1em;
  border-radius: 0px;
  border: 0px solid transparent;
  border-width: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  }

#juego{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  width: 100%;
}
.piezasDelJuego{
  width:33%;
}

#footer{
  width:100%;
  background-color:#f7e0e7;
}
